<div>
  <div class="my-4">
    <h4 class=" text-body text-center">Import Keystore</h4>
    <!--<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>-->
  </div>
  <div >
    <input (change)="onFileChange($event)" [ngClass]="{'is-invalid': fileErr}" type="file" class="form-control mb-3">
    <app-show-hide-input-text>
      <input [(ngModel)]="keystorePassword" [ngClass]="{'is-invalid': keystorePasswordErr}" type="password"
             class="form-control"
             [placeholder]="'KeystorePassoword'">
    </app-show-hide-input-text>
    <div *ngIf="importKeystoreErrText" [innerHTML]="importKeystoreErrText" class="invalid mb-2">
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button (click)="back()" type="button" class="btn btn-dark float-left me-3">
      Back
    </button>
    <button *ngIf="!loading" class="btn btn-primary" (click)="login()">Login</button>
    <button *ngIf="loading" disabled class="btn btn-primary"><i class="fa fa-spinner fa-spin ml-2"></i></button>
    <!--<app-spinner-button (click)="login()" [options]="importBtn">
      Login
    </app-spinner-button>-->
  </div>
</div>


