#paper-wallet h2 {
  color: #fff;
}

#hash4life-info {
  background-color: #ac9765;
    border: 0px;
    color: #fff;
}


#paper-wallet {
  //border: #ac9765 2px solid;

}

#powered-zertifier{
  width: 175px;
}

.vertical-orientation {
  text-orientation: mixed;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
}

p {
  font-size: 20px;
}

