<div class="modal-header">
  <h4 class="modal-title text-body text-center">Download keystore</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<div class="modal-body">
  <div id="set-password">
    <app-show-hide-input-text>
      <input [(ngModel)]="password" [ngClass]="{'is-invalid': passwordErr}" type="password"
             class="form-control" [placeholder]="'Password'">
    </app-show-hide-input-text>
    <app-show-hide-input-text>
      <input [(ngModel)]="repeatPassword" [ngClass]="{'is-invalid': repeatPasswordErr}"
             type="password" class="form-control"
             [placeholder]="'Repeat password'">
    </app-show-hide-input-text>

    <div *ngIf="passwordErrText" class="invalid mb-2">{{passwordErrText}}</div>

    <p class="text-justify">
      <small [innerHTML]="'Remember password'">
      </small>
    </p>

  </div>
  <div *ngIf="step == 'walletInfo'">
    <app-home></app-home>
  </div>
</div>
<div class="modal-footer justify-content-center">
  <div *ngIf="step == 'newPassword'">
    <app-spinner-button (click)="downloadKeystore()" [options]="keystoreBtn">
      Download keystore
    </app-spinner-button>
  </div>
</div>

