<div class="mt-3">
  <img class="mb-3 d-block mx-auto custom-icon" src="assets/img/user-icon.png" height="90px" alt="">
  <div class="form-group my-3">
    <label for="login-password" class="sr-only">Enter password</label>
    <input [(ngModel)]="password" (keyup.enter)="login()" [ngClass]="{'is-invalid': passwordErr}" id="login-password"
           class="form-control" type="password" [placeholder]="'Enter password'">
    <div *ngIf="passwordErr" class="invalid">
      Wrong password
    </div>
  </div>
  <div id="log-in-alert" class="my-2"></div>
  <div class="row d-flex justify-content-center">
    <div class="col-auto no-gutters">
      <button (click)="login()" class="btn btn-primary btn-block mb-2" type="button">Login</button>
    </div>
    <div class="col-auto">
  <button class="btn btn-secondary btn-block mb-2" (click)="clearWallet()" type="button">
    Use another wallet
  </button>

    </div>

  </div>

</div>

