<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark my-auto">
    <div class="container-fluid mt-3 pb-3 d-flex justify-content-center" >
      <a class="navbar-brand color-gold fw-bold" routerLink="/">My Wallet</a>
      <!--<div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" hidden>
            <a class="nav-link" routerLink="/">
              <button class="btn btn-outline-primary">Home</button>
            </a>
          </li>
          <li *ngIf="1!=1" class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/nfts">
              <button class="btn btn-outline-primary">NFTs</button>
            </a>
          </li>
        </ul>
      </div>-->

<!--        <button id="btn-login" type="button" class="btn btn-primary"-->
<!--                ngDefaultControl>{{web3.account | minifyText}}-->
<!--        </button>-->
    </div>

  </nav>
</header>

