<main>
  <div class="container pt-5 mb-3">
    <div *ngIf="newUserMode" class="d-flex justify-content-center mb-5 text-center" id="home-header">
      <h1 class="text-black">My Digital Wallet</h1>
    </div>
    <!--<div *ngIf="newUserMode" class="position-absolute top-50 start-50 translate-middle d-grid gap-2">
      <div class="row d-flex justify-content-center">
        <img class="text-center pb-5" src="/assets/img/wallet-icon-black.png" id="wallet-img">
      </div>

      <button (click)="setNewWalletMode()" class="btn btn-lg btn-primary d-block">
        New Account
      </button>
      <button (click)="setImportKeyStore()" class="btn btn-lg btn-primary d-block mt-3">
        Import Keystore
      </button>
      <button (click)="setImportPrivateKeyMode()" class="btn btn-lg btn-primary d-block mt-3">
        Import Private Key
      </button>
      <button (click)="setImportMnemonicMode()" class="btn btn-lg btn-primary d-block mt-3">
        Import Mnemonic Phrase
      </button>
    </div>-->
    <div *ngIf="newUserMode" class=" d-grid justify-content-center gap-2">
      <div class="row d-flex justify-content-center">
        <img class="text-center pb-5" src="/assets/img/wallet.png" id="wallet-img">
      </div>

      <button (click)="setNewWalletMode()" class="btn btn-lg btn-primary d-block">
        New Account
      </button>
      <button (click)="setImportKeyStore()" class="btn btn-lg btn-primary d-block mt-3">
        Import Keystore
      </button>
      <button (click)="setImportPrivateKeyMode()" class="btn btn-lg btn-primary d-block mt-3">
        Import Private Key
      </button>
      <button (click)="setImportMnemonicMode()" class="btn btn-lg btn-primary d-block mt-3">
        Import Mnemonic Phrase
      </button>
    </div>
    <app-login *ngIf="loginMode"></app-login>
    <app-new-account *ngIf="createWalletMode"></app-new-account>
    <app-import-keystore *ngIf="importKeystoreMode"></app-import-keystore>
    <app-import-private *ngIf="importPrivateKeyMode"></app-import-private>
    <app-import-mnemonic *ngIf="importMnemonicMode"></app-import-mnemonic>

  </div>
</main>
<app-footer></app-footer>

